		<div id="home" class="page section">
        <div>
          <ul id="slideshow">
            <li><%= image_tag "banner1.png"%></li>
            <li><%= image_tag "banner2.png"%></li>
            <li><%= image_tag "banner3.png"%></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <section class="feature">
          <h1>Welcome to <span>Km2c Designs</span>! My Name is <span class="gray">Kirk McCutcheon</span><br />I Build <span>The Web.</span></h1>
        </section>

        <section class="column-4 first">
         <%= image_tag "mediastack.jpg"%>
          <h6>Media Stack <span><a href="http://hostrea.com/templatesale/mediastack" target="_new">View Live</a><span></h6>
          </section>
        <section class="column-4">
          <%= image_tag "practical.jpg"%>
          <h6>Practical Storage<span><a href="http://hostrea.com/templatesale/template41" target="_new">View Live</a><span></h6>
        </section>
        <section class="column-4">
          <%= image_tag "aperture.jpg"%>
          <h6>Aperture Storage<span><a href="http://hostrea.com/templatesale/template39" target="_new">View Live</a><span></h6>
        </section>
        <section class="column-4 last">
         <%= image_tag "starhost.jpg"%>
          <h6>Star Host<span><a href="http://hostrea.com/templatesale/starhost37" target="_new">View Live</a><span></h6>
        </section>

    </div>