     <div id="work" class="page section">
        <aside>
					<ul class="showcaseNav">
						 <li class="active"><a class="more_button" href="#websites">Websites</a></li>
						 <li><a class="more_button" href="#animation">CSS Animation</a></li>
						 <li><a class="more_button" href="#magento">Magento Templates</a></li>
						 <li><a class="more_button" target="_blank" href="http://hostrea.com/premium-templates.html">More Samples</a></li>
					</ul>
						
				</aside>
				<div class="clearfix"></div>
				<!-- websites -->
				<section id="websites" class="showcase">
					<ul class="portfolio gallery">
						<li>
							<a href="images/fullscreen/mediastack.jpg" rel="prettyPhoto" title="Media Stack Web Hosting Template">
								<%= image_tag "thumbnails/mediastack.jpg", :alt => "Media Stack Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/practical.jpg" rel="prettyPhoto" title="Pratical Storage Web Hosting Template">
								<%= image_tag "thumbnails/practical.jpg", :alt => "Pratical Storage Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/aperture.jpg" rel="prettyPhoto" title="Aperture storage Hosting Template">
							<%= image_tag "thumbnails/aperture.jpg", :alt => "Aperture storage Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/starhost.jpg" rel="prettyPhoto" title="Star Host Web Hosting Template">
							<%= image_tag "thumbnails/starhost.jpg", :alt => "Star Host Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/start.jpg" rel="prettyPhoto" title="Start Hosting Web Hosting Template">
							<%= image_tag "thumbnails/start.jpg", :alt => "Start Hosting Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/sushi.jpg" rel="prettyPhoto" title="Sushi Host Web Hosting Template">
							<%= image_tag "thumbnails/sushi.jpg", :alt => "Sushi Host Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/ontarget.jpg" rel="prettyPhoto" title="On Target Web Hosting Template">
							<%= image_tag "thumbnails/ontarget.jpg", :alt => "On Target Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/vector.jpg" rel="prettyPhoto" title="Vector Web Hosting Template">
							<%= image_tag "thumbnails/vector.jpg", :alt => "Vector Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/hostmore.jpg" rel="prettyPhoto" title="Host More Web Hosting Template">
							<%= image_tag "thumbnails/hostmore.jpg", :alt => "Host More Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/metalbox.jpg" rel="prettyPhoto" title="Metal Box Web Hosting Template">
							<%= image_tag "thumbnails/metalbox.jpg", :alt => "Metal Box Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/vpsforest.jpg" rel="prettyPhoto" title="VPS Forest Web Hosting Template">
							<%= image_tag "thumbnails/vpsforest.jpg", :alt => "VPS Forest Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/yourcompany.jpg" rel="prettyPhoto" title="Web Hosting Template">
							<%= image_tag "thumbnails/yourcompany.jpg", :alt => "Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/commerce.jpg" rel="prettyPhoto" title="Commerce Web Hosting Template">
							<%= image_tag "thumbnails/commerce.jpg", :alt => "Commerce Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/oscmss.jpg" rel="prettyPhoto" title="OSCMSS Web Hosting Template">
							<%= image_tag "thumbnails/oscmss.jpg", :alt => "OSCMSS Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/cleansimple.jpg" rel="prettyPhoto" title="Clean and Simple Web Hosting Template">
							<%= image_tag "thumbnails/cleansimple.jpg", :alt => "Clean and Simple Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/geko.jpg" rel="prettyPhoto" title="Geko Web Hosting Template">
							<%= image_tag "thumbnails/geko.jpg", :alt => "Geko Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/simple.jpg" rel="prettyPhoto" title="Simple Web Hosting Template">
							<%= image_tag "thumbnails/simple.jpg", :alt => "Simple Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/xweb.jpg" rel="prettyPhoto" title="X Web Hosting Template">
							<%= image_tag "thumbnails/xweb.jpg", :alt => "X Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/template23.jpg" rel="prettyPhoto" title="Template 23 Web Hosting Template">
							<%= image_tag "thumbnails/template23.jpg", :alt => "Template 23 Web Hosting Template" %></a>
						</li>
						<li>
							<a href="images/fullscreen/c-host.jpg" rel="prettyPhoto" title="C-Host Web Hosting Template">
							<%= image_tag "thumbnails/c-host.jpg", :alt => "C-Host Hosting Template" %></a>
						</li>
					</ul>	
				</section>
				<!-- Animations -->
				<section id="animation" class="showcase">
					<ul class="portfolio gallery">
						<li>
							<a href="samples/css_animation/rocket/index.html" target="_new" title="The Rocket">
							<%= image_tag "thumbnails//rocket.png", :alt => "rocket" %></a>
						</li>
					</ul>	
				</section>
				<!-- Magento -->
				<section id="magento" class="showcase">
					<ul class="portfolio gallery">
						<li>
							<a href="images/fullscreen/thestore.jpg" rel="prettyPhoto" title="The Store Magento">
							<%=image_tag "thumbnails/thestore.jpg", :alt=>"The Store Magento" %></a>
						</li>
						<li>
							<a href="images/fullscreen/energysmart.jpg" rel="prettyPhoto" title="Energy Smart PC Magento">
							<%= image_tag "thumbnails/energysmart.jpg", :alt => "Energy Smart PC Magento" %></a>
						</li>
					</ul>
				</section>
      </div>